<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="getvincordovaplugin" version="0.0.1">
    <name>getvincordovaplugin</name>

    <description>An Android Cordova plugin that allows users to get vin.</description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/joaoavsantos/getvincordovaplugin.git</repo>
    <issue>https://github.com/joaoavsantos/getvincordovaplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/getvin.js" name="getvin">
        <clobbers target="gv" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="getvincordovaplugin">
                <param name="android-package" value="com.joaoavsantos.cordova.plugin.getvincordovaplugin"/>
            </feature>
        </config-file>

        <source-file src="src/main/java/com/daftrucks/getvinapi/GetVinPlugin.java" target-dir="src/com/joaoavsantos/cordova/plugin" />
        <source-file src="src/main/java/com/daftrucks/getvinapi/IGetVinInterface.java" target-dir="src/com/joaoavsantos/cordova/plugin" />
        <source-file src="src/main/java/com/daftrucks/getvinapi/IVinListener.java" target-dir="src/com/joaoavsantos/cordova/plugin" />
    </platform>
</plugin>
